# Directorios generados por Hugo
/public/
/resources/_gen/

# Archivos de bloqueo de Hugo
.hugo_build.lock

# Archivos de configuración de IDEs o SO (opcional, pero recomendado)
.DS_Store          # Archivos de Mac OS
.vscode/           # Configuración de VS Code
npm-debug.log      # Logs de NPM si usas JavaScript
node_modules/      # Dependencias de Node.js si las usas